

body {
  margin: 0;
  box-sizing: border-box;
}

.body {
  display: flex;
  flex-direction: column;
}

/* HEADER */

.header {
  display: flex;
  background-color: #65619E;
  height: 75px;
}

.line {
  border-left: 1px solid grey;
  height: 35px;
}

.circ {
  width: 5px;
  height: 5px;
  background-color: lightgreen;
  border-radius: 50%;
  margin-top: 25px;
  margin-left: -7px;
}

.bell, .pic, .name, .line {
  align-self: center;
  margin: 10px;
}

h1 {
  margin: 0 auto 0 20px;
  align-self: center;
  font-size: 1.5em;
}

h1, .name p {
  color: white;
}

.bell img {
  height: 20px;
  width: 20px;
}

.pic img {
  height: 40px;
  width: 40px;
  border-radius: 100%;
}

/* VERTICAL NAVIGATION AND CHARTS*/



.vert-nav {
  display: flex;
  background-color: #564483;
  flex-direction: row;
  justify-content: center;
}

.item {
  align-self: center;
}

.item img {
  height: 25px;
  width: 25px;
  margin: 15px;
}

/* .lineChart {
  width: 100%;
} */

/* SEACRH BAR AND DASHBOARD */

.main-content {
  display: flex;
  flex-direction: column;
}

.db {
  display: flex;
  height: 10vh;
}


.search-box {
  flex-grow: 2;
  height: 10vh;
  text-align: right;
  border-bottom: 1px solid lightgrey;
  background-color: #faf8f8;
}

.dashboard {
  padding: 0 15px;
  border-right: 1px solid lightgrey;
  height: 10vh;
}

.search__bar {
  width: 40%;
  margin-top: 10px;
  padding: 12px 5px;
  border-radius: 5%;
  opacity: 0.5;
  margin-right: 20px;
}

/* ALERT BOX AND NAV 2 */
.alert {
  display: flex;
  justify-content: space-between;
  margin: 15px;
  background-color: #65619E;
  color: white;
  border-radius: 2.5%;
}

.alert p {
  margin: 10px;
}

.nullam {
  font-size: 0.75em;
}
.nav-2 {
  display: flex;
  margin:  10px 20px;
}

.nav-2 p:nth-child(odd) {
  margin-top: 0;
}

.nav-2 p:nth-child(even) {
  margin: 0 10px;
}

.nav-2 p:nth-child(4) {
  background-color: lightgreen;
  height: 20px;
  padding: 0 10px;
  border-radius: 30%;
}

.trfc {
  margin-right: auto;
}

/* CHARTS */

.charts {
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  display: block;
  margin: 0;
  margin: 20px;

}



.d-chart, .b-chart {
  border: 1px solid grey;
}

.b-chart {
  padding: 20px;
}

.d-chart {
  padding: 20px;
  margin-top: 20px;
}


/* SOCIAL STATS */


h4 {
    margin: 30px;
    font-size: 1em;
}

.social-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 30px;
}

.twitter, .facebook, .google {
  display: flex;
  border: 0.75px solid lightgrey;
  border-radius: 5%;
  background-color: #f4f2f2;
  padding: 40px 70px;
  margin: 20px;
}


.circle {
  height: 60px;
  width: 60px;
  background-color: #564483;
  border-radius: 100%;
  text-align: center;
  margin-right: 15px;
}

svg {
  width: 35px;
  height: 35px;
  z-index: 1;
  margin-top: 15px;
  fill: white;
}

.facebook > .circle svg {
  margin-top: 10px;
}

.t-facts h1, h3 {
  margin: 0;
  padding: 0;
  font-size: 1.5em;
}

.t-facts h1 {
  color: grey;
  font-size: 2em;
}

.t-facts h3 {
  color: #564483;
}

.new-members {
  display: flex;
}

.new-members h5, a > p {
  padding: 0;
  margin: 0;
  font-size: 0.75em;
}

.new-members p {
  font-size: 0.75em;
}

.members a {
  text-decoration: none;
}

.recent-activity, .new-members {
  border-bottom: 1px solid lightgrey;
  padding: 20px;
}

.last {
  border-bottom: none;
}

.recent-activity img, .new-members img{
  border-radius: 100%;
  height: 40px;
  width: 40px;
  margin-right: 10px;
}

.nm h2, .ra h2 {
  font-size: 0.75em;
  margin-bottom: 30px;
  font-weight: bold;
}

.recent-activity h1 {
  margin: 0;
  padding: 0;
  color: #564483;
  font-size: 1em;
}

.activity {
  margin-bottom: 12px;
}

.activity > p {
  margin: 0;
  padding: 0;
  font-size: 0.75em;
}

.members {
  margin-right: auto;
}

.recent-activity {
  display: flex;
  padding-right: 0;
}

.activity {
  margin-right: auto;
}

.final-layout {
  display: block;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
}


.nm, .ra {
  margin: 20px;
  padding: 10px;
  border: 1px solid grey;
}


.app h1 {
  font-weight: normal;
  color: white;
  font-size: 28px;
}

h2 {
  margin: 10px;
  margin-top: 15px;
}

sup {
  font-size: 16px;
}

.btn-bar button {
  width: 100%;
  padding: 10px;
  border-radius: 0.3em;
  background-color: #564483;
  color: white;
  font-size: 1em;
}

.msg h2, .buttons h2 {
  font-size: 0.8em;
  margin-bottom: 20px;
  margin-right: 20px;
  padding: 0 12px;
}

.search-bar, .message-bar, .btn-bar {
  margin-bottom: 10px;
  margin-right: 20px;
  padding: 0 20px;
}

.search-bar input {
 width: 100%;
 padding: 10px 5px;
 border-radius: 0.3em;
}

.message-bar input {
  width: 100%;
  padding: 10px  0 75px 5px;
  border-radius: 0.3em;
}

.footer {
  display: block;
  margin-bottom: 20px;
}

.msg, .buttons {
  border: 1px solid grey;
  margin: 20px;
}

.buttons {
  margin-top: 30px;
}



.button-1, .button-2 {
  display: flex;
  justify-content: space-between;
}

.button-1 button, .button-2 button {
  margin: 10px;
  margin-right: 30px;
  padding: 10px 10px 10px 20px;
  border-radius: 0.9em;
  margin-left: 0;
  background-color: grey;
  color: white;
  font-size: 0.75em;
  font-weight: bold;
  width: 70px;
  position: relative;
}

.button-clicked {
  padding: 10px 20px 10px 10px;
  background-color: #65619E;
}

span {
  margin-right: 15px;
  background-color: white;
  border-radius: 50%;
  margin-left: 5px;
  padding: 9px 9px;
  position: absolute;
  right: 30px;
  top: 8px;
  transition-property: left;
  transition-duration: 0.5s;
  transition-timing-function: ease-in;
}

.button-1 p, .button-2 p, .timezone {
  margin-left: 20px;
}

.settings__timezone {
  width: 100%;
  height: 2.5em;
  border-radius: 0.3em;
  padding: 5px 0;
}
.timezone {
  margin: 5px 20px;
  margin-bottom: 0;
}

.button-3 {
  display: flex;
  margin-top: 8px;
  margin-right: 10px;
  margin-left: 15px;
}

.button-3 button {
  width: 50%;
  padding: 10px 0;
  border-radius: 0.3em;
  margin: 5px;
  font-size: 1em;
  color: white;
}

.button-3 button:nth-child(1) {
  background-color: #564483;
}

.button-3 button:nth-child(2) {
  background-color: lightgrey;
}

button {
  cursor: pointer;
}

/* CSS ANIMATION */



/* .button-2 span:hover {
  left: 80%;
} */



@media only screen and (min-width: 768px) {

  .body {
    flex-direction: row;
  }

  .vert-nav {
    flex-direction: column;
    justify-content: flex-start;
    width: 5%;
  }

  .main-content {
    width: 95%;
  }

  .charts {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
  }

  .d-chart, .b-chart {
    border: none;
  }

  .b-chart {
    border-right:  1px solid lightgrey;
  }

  .d-chart {
    margin-top: 0;
  }

  .twitter, .facebook, .google {
    margin: 0;
  }

  .final-layout {
    display: flex;
  }

  .nm, .ra {
    width: 50%;
    padding-right: 0;
    border: none;
    margin: 0;
    padding-right: 0;
  }

  .nm {
    border-right: 1px solid lightgrey;
  }

  .footer {
    display: flex;
    margin-bottom: 0;
  }

  .msg, .buttons {
    width: 50%;
    border: none;
    margin: 0;
  }

  .msg {
    border-right: 1px solid lightgrey;
  }


}
